<div class="image-background hero-about">
  <div class="darken">
      <div class="row">
        <h1>About Us</h1>
      </div>
  </div>
</div>

<div class="white-background">
  <div class="row">
    <h3 class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</h3>   
  </div>
</div>

<div class="green-background">
    <div class="row">
        <div class="small-10 small-offset-1">
            <h2 class="center">Our Farms</h2>
            <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
        </div>
    </div>
</div>

<div class="white-background">
    <div class="row">
      <div class="small-10 small-offset-1">
        <h2 class="center">We Deliver</h2>
        <p class="center">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p> 
      </div>
    </div>
</div>

